<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=presentday%></h1>
    </div>
   <div class="box">
    <%newitems.forEach((items)=>{%>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" value="<%=items._id%>" onChange="this.form.submit()" name="checkbox"></input>
               <p><%=items.name%></p> 
               <input type="hidden" name="listitem" value="<%=presentday%>"></input>
            </div>  
        </form>
        
    <%})%>
    <form  class="item"action="/" method="post">
        <input type="text" name="itm" placeholder="New Item">
        <button type="submit" value="<%=presentday%>" name="list">+</button>
       </form>
   </div>
    
   
   
    
</body>
</html>